head, body {
    background-color: #a8b4bd;
}

.navbar.navbar-expand-lg {
    background-color: #28567a;
}

#usernameExists{
    display: block;
}     
#usernameExists:empty{
    display: none;
}

.dateLabel{
    display: block;
    width: 100px;
}

#left{
 width:50%;
 float:left;   
}

#right{
 width:50%;
 float:right;   
}