{% block doc -%}
<!DOCTYPE html>
<html {% block html_attribs %} lang="en" {% endblock html_attribs %}>
{% block html %}

<head>
  {%- block head %} {%- block metas %}
  <meta charset="utf-8">
  <meta content="width = device-width, initial-scale = 1"> {%- endblock metas %}
  <title>{% block title %}Änäritietäjä{% endblock %}</title>

  <!-- Core CSS - Include with every page -->
  {%- block styles %}
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{url_for('static', filename='css/base.css')}}" rel="stylesheet"> {%- endblock styles %} {%- endblock head %}
</head>

<body{% block body_attribs %}{% endblock body_attribs %}>
  {% block body -%} {% block navbar -%}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="/">Tietäjä</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if session.logged_in %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('.home')}}">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('.games')}}">Games</a>
        </li>
      </ul>
      <ul class="navbar-nav pull-right">
        <li class="nav-item ">
          <a class="nav-link" href="#">{{session.username}}</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('.logout')}}">Logout</a>
        </li>
      </ul>
    </div>
    {% endif %}
  </nav>
  {%- endblock navbar %} {% block content -%}
  <div class="container-fluid">
    <div style="background:transparent" !important class="jumbotron">
      {% block main_content -%} {%- endblock main_content%}
    </div>
  </div>
  {%- endblock content %} {% block scripts %}
  <!-- Bootstrap and Ajax JavaScript files -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> {%- endblock scripts %} {%- endblock body %}
  </body>
  {%- endblock html %}

</html>
{% endblock doc -%}