{% block doc -%}
<!DOCTYPE html>
<html {% block html_attribs %} lang="en" {% endblock html_attribs %}>
{% block html %}
  <head>
    {%- block head %}
    {%- block metas %}
    <meta charset="utf-8">
    <meta content="width = device-width, initial-scale = 1">
    {%- endblock metas %}
    <title>{% block title %}Änäritietäjä{% endblock %}</title>

    <!-- Core CSS - Include with every page -->
    {%- block styles %}
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/base.css')}}" rel="stylesheet">
    {%- endblock styles %}
    {%- endblock head %}
  </head>

  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
    {% block navbar -%}

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
          <!-- This menu button shows up if browser has not enough space to show all the buttons -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Navigation Bar Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
          <ul class="nav navbar-nav">
              <li>
                <i>My games</i>
              </li>
              <li>
                <i>Statistics</i>
              </li>
          </ul>
        </div>
      </div>
    </nav>
    {%- endblock navbar %}
    {% block content -%}
    <div class="container-fluid">
      <div style="background:transparent" !important class="jumbotron">
        {% block main_content -%}
        {%- endblock main_content%}
      </div>
    </div>
    {%- endblock content %}
    {% block scripts %}
    <!-- Bootstrap and Ajax JavaScript files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.min.js', cdn='bootstrap')}}"></script>
    {%- endblock scripts %}
    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}

