{% extends "base.html" %} {% block username %} {{username}} {% endblock %} {% block main_content %}

<div class="container-fluid" id="games">

    <h1>Game: {{games[0]['game_id']}}</h1>
    
    <div class="left"><h2 style="margin-top: 40px;">Selected games:</h2></div><div class="right"><h2 style="margin-top: 40px;">Result</h2></div><div class="right"><h2 style="margin-top: 40px;">Prediction</h2></div>


    {% if bet == 1 %}

    <div>
    {% for game in games %}

        <div class="left" style="margin-top: 25px;">{{game['home']}} -  {{game['away']}}</div><div class="right" style="margin-top: 25px;">{{game['result']}}</div><div class="right" style="margin-top: 25px;">{{game['prediction']}}</div>

    {% endfor %}
    </div>

    {% else %}

    <form action="{{url_for('.set_predictions')}}" method="post">
        <input type="hidden" id="gameid" name="game_id" value="{{games[0]['game_id']}}">
        
        {% for game in games %}
        <input type="hidden" id="matchid" name="match_id" value="{{game['match_id']}}">
        <fieldset>
            <div style="margin-top: 25px;">  {{game['home']}} -  {{game['away']}} 
            <div class="btn-group btn-group-toggle" data-toggle="buttons" style="float:right;margin-right: 50%;"> 
                <label class="btn btn-secondary active"> 
                    <input type="radio" name="{{game['match_id']}}" id="option_1" value="1"  checked> 1</label>
                <label class="btn btn-secondary">
                    <input type="radio" name="{{game['match_id']}}" id="option_x" value="3" > X</label>
                <label class="btn btn-secondary"> 
                    <input type="radio" name="{{game['match_id']}}" id="option_2" value="2" > 2 </label>
            </div> 
            </div>
        </fieldset>

        {% endfor %}

        <div style="margin-top: 25px;">
                <button type="submit" class="btn btn-secondary active"> Save predictions</button>
        </div>
    
    
    </form>
    
    {% endif %}

</div>

{% endblock %}
